body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset, img {
	border:0
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style:inherit;
	font-weight:inherit
}
del, ins {
	text-decoration:none
}
li {
	list-style:none
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal
}
q:before, q:after {
	content:''
}
abbr, acronym {
	border:0;
	font-variant:normal
}
sup {
	vertical-align:baseline
}
sub {
	vertical-align:baseline
}
legend {
	color:#000
}
input, button, textarea, select, optgroup, option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit
}
input, button, textarea, select {
*font-size:100%
}
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
iframe {
	position:absolute
}
html {
	background:transparent;
	background:-webkit-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
	background:-moz-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
	background:-ms-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
	background:-o-linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
	background:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
	background-color:#e8ebef;
	background-repeat:no-repeat;
	font:13px/1.5 "HelveticaNeue", Helvetica, Arial, sans-serif;
	height:100%
}
html#no-background {
	background:none
}
body {
	min-height:100%
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
html {
	font-family:"HelveticaNeue", Helvetica, Arial, sans-serif
}
}
a {
	color:#008cdd;
	text-decoration:none;
	cursor:pointer
}
a:hover {
	color:#222;
	text-decoration:underline
}
a.arrow {
	position:relative;
	padding-right:9px
}
a.arrow::after {
	pointer-events:none;
	content:" ";
	display:block;
	position:absolute;
	right:1px;
	top:0;
	height:100%;
	width:3px;
	background:url(/img/anchor-arrow-solid.png) 0 50% no-repeat
}
a.arrow:hover::after {
	background-position:100% 50%
}
a.red {
	color:red
}
a.red:hover {
	color:#333
}
div#background {
	display:none
}
div#header {
	height:141px;
	position:relative;
	margin-bottom:20px;
	-webkit-font-smoothing:antialiased
}
div#header h1 {
	text-indent:-999em;
	float:left;
	margin-top:20px;
	width:391px;
	height:121px
}
div#header h1 a {	
	background:url(../images/logo.png) no-repeat;
	display:block;
	height:121px;
	-webkit-transition:opacity 200ms ease, -webkit-transform 0s ease;
	-moz-transition:opacity 200ms ease, -moz-transform 0s ease;
	-o-transition:opacity 200ms ease, -o-transform 0s ease;
	transition:opacity 200ms ease, transform 0s ease
}
div#header h1 a:hover {
	opacity:0.75
}
div.navigation {
	padding-top:75px;
	position:relative
}
div.navigation div.button {
	float:right
}
div.navigation div.button a {
	font-size:12px;
	text-decoration:none;
	padding:1px;
	height:26px;
	display:block;
	position:relative;
	top:-3px;
	margin-left:4px;
	background:#adb2bb;
	background:transparent;
	background:-webkit-linear-gradient(#ccd0d6, #adb2bb);
	background:-moz-linear-gradient(#ccd0d6, #adb2bb);
	background:-ms-linear-gradient(#ccd0d6, #adb2bb);
	background:-o-linear-gradient(#ccd0d6, #adb2bb);
	background:linear-gradient(#ccd0d6, #adb2bb);
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	-ms-border-radius:14px;
	-o-border-radius:14px;
	border-radius:14px;
	-webkit-box-shadow:0px 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow:0px 1px 0 rgba(0,0,0,0.05);
	-ms-box-shadow:0px 1px 0 rgba(0,0,0,0.05);
	-o-box-shadow:0px 1px 0 rgba(0,0,0,0.05);
	box-shadow:0px 1px 0 rgba(0,0,0,0.05);
	-webkit-transition:-webkit-box-shadow 0.1s ease-in-out;
	-moz-transition:-moz-box-shadow 0.1s ease
}
div.navigation div.button span {
	display:block;
	background:#fafbfc;
	padding:5px 17px;
	height:16px;
	line-height:16px;
	font-weight:bold;
	color:#333;
	text-shadow:0 1px 0 #fff;
	background:#f6f9fc;
	background:transparent;
	background:-webkit-linear-gradient(#fff, #eff1f4);
	background:-moz-linear-gradient(#fff, #eff1f4);
	background:-ms-linear-gradient(#fff, #eff1f4);
	background:-o-linear-gradient(#fff, #eff1f4);
	background:linear-gradient(#fff, #eff1f4);
	-webkit-box-shadow:inset 0 1px 0 #fff;
	-moz-box-shadow:inset 0 1px 0 #fff;
	-ms-box-shadow:inset 0 1px 0 #fff;
	-o-box-shadow:inset 0 1px 0 #fff;
	box-shadow:inset 0 1px 0 #fff;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	-ms-border-radius:13px;
	-o-border-radius:13px;
	border-radius:13px
}
div.navigation div.button a:hover {
	background:#008cdd;
	-webkit-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	-moz-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	-ms-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	-o-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5
}
div.navigation div.button a:active {
	background:#008cdd;
	-webkit-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	-moz-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	-ms-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	-o-box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5;
	box-shadow:0px 1px 0 rgba(0,0,0,0.05), 0 0 4px #28a0e5
}
div.navigation div.button a:active span {
	color:#444;
	background:transparent;
	background:-webkit-linear-gradient(#e6e8eb, #eff1f4);
	background:-moz-linear-gradient(#e6e8eb, #eff1f4);
	background:-ms-linear-gradient(#e6e8eb, #eff1f4);
	background:-o-linear-gradient(#e6e8eb, #eff1f4);
	background:linear-gradient(#e6e8eb, #eff1f4);
	-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 0 rgba(0,0,0,0.1)
}
div.navigation ul.global {
	float:right;
	margin-right:12px;
	position:relative;
	padding:2px 6px
}
div.navigation ul.global::before, div.navigation ul.global::after {
	content:"";
	position:absolute;
	width:1px;
	top:-1px;
	bottom:-2px;
	background-repeat:no-repeat;
	background-size:1px 100%
}
div.navigation ul.global::before {
	right:1px;
	background-image:-webkit-linear-gradient(rgba(181,188,202,0), rgba(181,188,202,0.75) 30%, rgba(181,188,202,0.75) 70%, rgba(181,188,202,0));
	background-image:-moz-linear-gradient(rgba(181,188,202,0), rgba(181,188,202,0.75) 30%, rgba(181,188,202,0.75) 70%, rgba(181,188,202,0));
	background-image:-o-linear-gradient(rgba(181,188,202,0), rgba(181,188,202,0.75) 30%, rgba(181,188,202,0.75) 70%, rgba(181,188,202,0));
	background-image:-ms-linear-gradient(rgba(181,188,202,0), rgba(181,188,202,0.75) 30%, rgba(181,188,202,0.75) 70%, rgba(181,188,202,0));
	background-image:linear-gradient(rgba(181,188,202,0), rgba(181,188,202,0.75) 30%, rgba(181,188,202,0.75) 70%, rgba(181,188,202,0))
}
div.navigation ul.global::after {
	right:0;
	background-image:-webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6) 50%, rgba(255,255,255,0));
	background-image:-moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6) 50%, rgba(255,255,255,0));
	background-image:-o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6) 50%, rgba(255,255,255,0));
	background-image:-ms-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6) 50%, rgba(255,255,255,0));
	background-image:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6) 50%, rgba(255,255,255,0))
}
div.navigation ul.global li {
	display:block;
	float:left;
	padding:0 2px
}
div.navigation ul.global a {
	display:block;
	font-size:11px;
	color:#595F69;
	padding:3px 10px;
	text-shadow:0 1px 0#fff;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	-webkit-transition:color 150ms ease
}
div.navigation ul.global a:not(.selected):hover {
	color:#000;
	text-shadow:none;
	text-decoration:underline;
}
div.navigation ul.global a.selected {
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
	background:transparent;
	background:-webkit-linear-gradient(rgba(168,176,188,0.4), rgba(168,176,188,0.15));
	background:-moz-linear-gradient(rgba(168,176,188,0.4), rgba(168,176,188,0.15));
	background:-ms-linear-gradient(rgba(168,176,188,0.4), rgba(168,176,188,0.15));
	background:-o-linear-gradient(rgba(168,176,188,0.4), rgba(168,176,188,0.15));
	background:linear-gradient(rgba(168,176,188,0.4), rgba(168,176,188,0.15));
	box-shadow:inset 0 0 1px rgba(114,125,150,0.4), inset 0 1px 0 rgba(114,125,150,0.4), 0 1px 0 rgba(255,255,255,0.7)
}

div#footer {
	-webkit-font-smoothing:subpixel-antialiased;
	margin:0;
	padding:10px 0 80px;
	position:relative;	
	/*text-shadow:0 1px 0 rgba(255,255,255,0.5);*/
	text-align:left;
}
div#footer a {
	color:#999;
	text-decoration:none
}
div#footer a:hover {
	color:#222;
	text-decoration:underline
}

div.box {
	position:relative;
	opacity:1.0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 2px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 2px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 2px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2);
	box-shadow:0 0 2px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2)
}
div#header div.signin, div#introduction h1, div#introduction h2, #frontpage a.button, #frontpagebutton.button, div#tour h2, div#js ul h3, div#notify h2, div#notify label, div#notify input, div.invite-info, div#main-navigation, a.pill, div#section div.dashboard-view div.overview h3, div.detail-header h2, div.switch-view label, div#breadcrumbs, div#section div.group div.header, div#section div.bottom-control, div.chart-tooltip-view span, div.plans-list-view div.items-list span.price, div.dashboard-view div.details strong, div#sezction div.dashboard-view h2, div#get-started p, div#info div.tip, #modal h2 {
	-webkit-font-smoothing:antialiased
}
div#header, div#introduction, div#action, div#tour, div#notify, div.invite-info, div.box, div#footer, h4.alert_success {
	width:940px;
	margin-left:auto;
	margin-right:auto
}
div#more-info {
	margin-top:30px;
	background:#fff
}
div#info div.intro {
	margin:0 60px;
	height:19px;
	border-bottom:1px solid #ebebeb;
	padding:50px 0 29px;
	position:relative
}
div#info div.intro span {
	position:relative;
	top:-6px;
	height:28px;
	display:block;
	width:400px;
	color:#333;
	font-size:26px;
	font-weight:600;
	letter-spacing:1px;
	font-family:"proxima-nova", arial, sans-serif
}
div#info div.part {
	padding:25px 0;
	margin:0 60px;
	position:relative
}
div.grid div.part.left {
	float:left
}
div.grid div.part.right {
	float:right
}
div.grid div.part.half {
	width:48%
}
div.grid div.part.half.left {
	margin-right:1%
}
div.grid div.part.half.right {
	margin-left:1%
}
div.grid div.part.third {
	width:33%;
	float:left
}
div.grid div.part.fourth {
	width:25%;
	float:left
}
div.grid div.part.fifth {
	width:20%;
	float:left
}

div#info div.part div.title {
	background-repeat:no-repeat;
	background-position:50% 0
}
div#info div.part h2 {
	font-size:20px;
	color:#313131;
	margin-top:-3px;
	margin-bottom:9px;
	font-size:22px;
	font-weight:600;
	font-family:"proxima-nova", arial, sans-serif
}
div#info div.part div.title p {
	font-size:14px;
	line-height:20px;
	margin-bottom:10px;
	color:#777;
	margin-top:4px
}
div#info div.part.ziff div.title {
    margin-left: 230px;
    padding-top: 3px;
}
div#info div.part.ziff img {
    left: 0;
    position: absolute;
    top: 75px;
}
div#info div.part.form {
	padding-top:3px;
	padding-bottom: 25px;	
}
div#info div.part.form div.inner {
	background:#fafcff;
	padding:0 60px;
	background-image:-webkit-gradient(linear, left top, right top, from(#fff), to(#f7fbff));
	background-image:-moz-linear-gradient(0deg, #fff, #f7fbff);
	background-image:-o-linear-gradient(left, #fff, #f7fbff)
}
div#info div.part.form div.title {
    padding-top: 25px;
}
div#info div.part.form div#contact-form {
	width:398px;
	border:1px solid #d2deeb;
	border-top-color:#b9c7d7;
	background:#fff;
	font-size:11px;
	margin:10px 0;
	position:relative;
	right:-10px;
	float:right;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 1px 0 #fff;
	-moz-box-shadow:0 1px 0 #fff;
	-ms-box-shadow:0 1px 0 #fff;
	-o-box-shadow:0 1px 0 #fff;
	box-shadow:0 1px 0 #fff
}
div#info div.part.form div#contact-forms {
	font-size:11px;
	background:#fcfdff;
	border-top:1px solid #e8eef6;
	padding:7px 10px;
	text-align:left;
	color:#999;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px
}
div#info div.part.form div.clear {
	clear:both
}
div#info div.part td{
margin: 0;
padding: 0;
}

div#info div.part thead tr {
height: 34px;
text-align: left;
text-indent: 10px;
cursor: pointer;
}

div#info div.part td {
padding: 15px 10px;
}
div#info h4.alert_success {
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;
}
div.frontpage-notification {
	background:url(../images/shore.jpg);
	border:1px solid #cdd0d3;
	border-top-color:#bfc1c4;
	text-align:center;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(49,77,94,0.06), 0 1px 0 rgba(255,255,255,0.33);
	-moz-box-shadow:inset 0 1px 1px rgba(49,77,94,0.06), 0 1px 0 rgba(255,255,255,0.33);
	-ms-box-shadow:inset 0 1px 1px rgba(49,77,94,0.06), 0 1px 0 rgba(255,255,255,0.33);
	-o-box-shadow:inset 0 1px 1px rgba(49,77,94,0.06), 0 1px 0 rgba(255,255,255,0.33);
	box-shadow:inset 0 1px 1px rgba(49,77,94,0.06), 0 1px 0 rgba(255,255,255,0.33);
	width:940px;
	margin:20px auto 2px;
	height:200px;
	position:relative;
	z-index:300;	
}
div.frontpage-notification.contact {
	background:url(../images/pine-cone.jpg);
}

div.frontpage-notification.about {
	background:url(../images/wheel.jpg);
}

div.frontpage-notification.clients {
	background:url(../images/willow.jpg);
}

div#footer .stock_footer{
	width:100%;
	background:url(../images/bg.stock_footer.png) repeat-x;
	height:70px;
	padding:10px 0
}

div#footer .stock_footer ul li{
	margin:0 22px 0 0;
	padding:0 7px 0 0;
	float:left;
	border-right:1px solid #a0a7ad;
	color:#79C20D;
	position:relative;
	height:23px
}
div#footer .stock_footer ul li strong{
	display:block;
	float:left;
	font-size:13px;
	font-weight:700;
	color:#fff;
	margin:0 5px 0 0;
	line-height:10px
}
div#footer .stock_footer ul li span.standing{
	display:block;
	font-size:13px;
	font-weight:700;
	line-height:10px;
	padding:0 0 0 12px;
	display:block;
	float:left
}
div#footer .stock_footer ul li span.change{
display:block;
font-size:10px;
line-height:10px;
position:absolute;
color:#fff;
right:7px;
top:14px
}


div#footer .stock_footer .stock_time{width:90px;float:left;color:#999;font-size:10px;line-height:12px;padding:1px 0 0 0}
.ie8 div#footer .stock_footer .stock_time{margin-left:-10px}

div#footer .stock_footer .stock_offer{float:right;color:#bfc5ca;font-size:13px;position:relative;margin-top:-4px;width:285px}

div#footer .stock_footer .stock_offer h4{
	margin:0;
	color:#b5d673;
	font-weight:800;
	font-size:14px;
	font-family:'HelveticaNeueW01-75Bold',"Helvetica Neue","Helvetica","Arial",sans-serif
}

.ie8 div#footer .stock_footer .stock_offer h4{font-size:14px;-ms-filter:alpha(opacity=99)}

.ie7 div#footer .stock_footer .stock_offer h4{font-size:14px;filter:alpha(opacity=99)}

div#footer .stock_footer .stock_offer span{
	color:#b5d673;
	font-weight:800;
	font-size:13px;
	font-family:'HelveticaNeueW01-75Bold',"Helvetica Neue","Helvetica","Arial",sans-serif;
}

div#footer .stock_footer .stock_offer a,
div#footer .stock_footer .stock_offer a:visited{color:#b5d673;font-size:9px;text-decoration:underline;position:absolute;top:21px;right:4px}

div#footer .stock_footer .stock_offer a:hover,
div#footer .stock_footer .stock_offer a:focus{color:#fff}

div#footer .stock_footer .green-button{background:#00b624;color:#fff;float:right;margin:0 5px 0 5px;font-size:9px;padding:4px 7px;text-decoration:none;border-top:#29c247 1px solid;border-right:#0f9a2a 1px solid;border-bottom:#00941d 1px solid;border-left:#36c652 1px solid;}

.ie8 div#footer .stock_footer .green-button{padding:4px 2px}

.ie7 div#footer .stock_footer .green-button{font-weight:700!important}

div#footer .stock_footer .utility-footer ul{
	line-height:20px;
	margin:40px 0 0 0;
}

div#footer .stock_footer .utility-footer ul li{border:0;padding:16px 23px 5px 23px;margin:0;text-transform:uppercase}

div#footer .stock_footer .utility-footer ul li.alpha{padding:16px 10px 5px 22px;float:right;}

div#footer .stock_footer .utility-footer ul li a,
div#footer .stock_footer .utility-footer ul li a:visited{color:#fff;;text-decoration:none;font-size:10px;line-height:12px}

div#footer .stock_footer .utility-footer ul li a:hover,
div#footer .stock_footer .utility-footer ul li a:focus{text-decoration:underline}

div#footer .stock_footer .utility-footer ul li a.icon:hover,
div#footer .stock_footer .utility-footer ul li a.icon:focus{text-decoration:none}

div#footer .stock_footer .utility-footer ul li a.icon .text:hover,
div#footer .stock_footer .utility-footer ul li a.icon .text:focus{text-decoration:underline}

div#footer .stock_footer .utility-footer ul li a img{display:inline-block;vertical-align:baseline;margin-right:2px}

div#footer .stock_footer .utility-footer ul li a img.rotating-sign{position:relative;top:-1px}

div#footer .stock_footer .utility-footer ul li.social{
	margin:0;
	float:left;
	padding:4px;
	padding-top: 10px;
}

div#footer .stock_footer .utility-footer ul li.social a{display:block;float:left;width:25px;height:25px;margin:0 14px 0 0}

div#footer .stock_footer .utility-footer ul li.social a:hover,
div#footer .stock_footer .utility-footer ul li.social a:focus{background-position:0 -25px}

div#footer .stock_footer .utility-footer ul li a.youtube{background:url(../images/icon.youtube.png) no-repeat}

div#footer .stock_footer .utility-footer ul li a.facebook{background:url(../images/icon.facebook.png) no-repeat}

div#footer .stock_footer .utility-footer ul li a.twitter{background:url(../images/icon.twitter.png) no-repeat;margin:0}

